@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/64bdce6e7f1727b50d01a491.64bdce6e7f1727b50d01a494.uJRcqCD.hcp.png");

@font-face {
  font-family: "CindieMono-A";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CindieMono-A.otf") format("opentype");
}
@font-face {
  font-family: "SFProRounded-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "FilmotypeGem";
  font-style: normal;
  font-weight: 1 1000;
  src: url("../fonts/Filmotype Gem.otf") format("opentype");
}
@font-face {
  font-family: "FilmotypeGem-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SF-Pro-Rounded-Regular.otf") format("opentype");
}
@font-face {
  font-family: "CindieMono A-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CindieMono-A.otf") format("opentype");
}
@font-face {
  font-family: "SFPro Rounded-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf") format("truetype");
}


.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-flex-center {
  align-self: flex-center;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

* {
  box-sizing: border-box;
}

.overlap-group-container {
  height: 28px;
  position: relative;
  width: 26px;
}

.elipse-1 {
  background-color: var(--white);
  border-radius: 8.84px;
  height: 18px;
  opacity: 0.5;
  width: 18px;
}

.rectngulo-315 {
  background-color: var(--gray-nurse);
  border-radius: 0px 0px 70px 70px;
  height: 243px;
  left: 0;
  position: absolute;
  top: 28px;
  transform: rotate(180deg);
  width: 717px;
}

.recuadro-nombre {
  display: flex;
  height: 48px;
  left: 184px;
  position: absolute;
  top: 0;
  width: 346px;
}

.rectngulo-115 {
  background-color: var(--nobel);
  border-radius: 32px;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  transform: rotate(180deg);
  width: 345.52px;
}

.grupo-576 {
  display: flex;
  height: 80px;
  width: 317px;
}

.descargar {
  letter-spacing: 0;
  line-height: 43px;
  margin-bottom: -20.5px;
  margin-top: 18.5px;
  text-align: center;
  white-space: nowrap;
  width: 317px;
}

.whatsapp {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-top: -0.01px;
  min-height: 42px;
  min-width: 142px;
  white-space: nowrap;
}

.linkedin {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-left: 33px;
  margin-top: -3.01px;
  min-height: 42px;
  min-width: 142px;
  white-space: nowrap;
}

.instagram {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-left: 33px;
  margin-top: -3.01px;
  min-height: 42px;
  white-space: nowrap;
}

.restaurantes {
  flex: 1;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-bottom: -1.4px;
  margin-right: -2px;
  margin-top: -0.6px;
  width: 158.51px;
}

.proveedores {
  flex: 1;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-bottom: -1.4px;
  margin-right: -2px;
  margin-top: -0.6px;
  width: 145.46px;
}

.productos {
  flex: 1;
  letter-spacing: 0;
  line-height: 19.2px;
  margin-bottom: -1.4px;
  margin-right: -2px;
  margin-top: -0.6px;
  width: 119.46px;
}

.place {
  letter-spacing: 0;
  line-height: 64.8px;
  margin-left: 4.09px;
  min-height: 67px;
  white-space: nowrap;
}

.hazlo-ya {
  height: 87px;
  left: 47px;
  letter-spacing: 0;
  line-height: 101.9px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 258px;
}

.elipse-38 {
  background-color: var(--white);
  border-radius: 8.84px;
  height: 18px;
  margin-left: 14px;
  opacity: 0.5;
  width: 18px;
}

.grupo-100 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 25.53px;
}

.trazado {
  height: 17px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 25px;
}

.trazado-5 {
  height: 18px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 26px;
}

.grupo-90 {
  cursor: pointer;
  display: flex;
  flex: 1;
  transition: all 0.2s ease;
  width: 307.79px;
}

.grupo-89 {
  display: flex;
  flex: 1;
  width: 307.79px;
}

.grupo-88 {
  align-items: center;
  display: flex;
  flex: 1;
  min-width: 307.79px;
}

.trazado-39 {
  height: 48px;
  margin-bottom: 0;
  object-fit: cover;
  width: 47px;
}

.trazado-40 {
  height: 48px;
  margin-bottom: 0;
  margin-left: 1px;
  object-fit: cover;
  width: 41px;
}

.trazado-41 {
  height: 48px;
  margin-bottom: 0;
  margin-left: 1px;
  object-fit: cover;
  width: 35px;
}

.trazado-42 {
  height: 48px;
  margin-bottom: 0;
  margin-left: 4px;
  object-fit: cover;
  width: 39px;
}

.trazado-43 {
  height: 48px;
  margin-left: 1px;
  object-fit: cover;
  width: 31px;
}

.trazado-44 {
  height: 48px;
  margin-left: 2px;
  object-fit: cover;
  width: 31px;
}

.trazado-4 {
  height: 51px;
  margin-left: 2px;
  object-fit: cover;
  width: 34px;
}

.grupo-267 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  min-height: 16.93px;
  width: 40.08px;
}

.lnea {
  height: 3px;
  margin-left: -1.5px;
  object-fit: cover;
  width: 43px;
}

.grupo-580 {
  align-items: flex-end;
  background-color: var(--nobel);
  display: flex;
  height: 161px;
  justify-content: flex-end;
  left: 0;
  min-width: 454px;
  padding: 0 14.6px;
  position: absolute;
  top: 0;
}

.rectngulo-315-1 {
  background-color: var(--gray-nurse);
  border-radius: 0px 0px 54px 54px;
  height: 144px;
  left: 0;
  position: absolute;
  top: 17px;
  transform: rotate(180deg);
  width: 424px;
}

.recuadro-nombre-1 {
  display: flex;
  height: 33px;
  left: 109px;
  position: absolute;
  top: 0;
  width: 205px;
}

.rectngulo-115-1 {
  background-color: var(--nobel);
  border-radius: 17px;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  transform: rotate(180deg);
  width: 204.5px;
}

.grupo-576-1 {
  display: flex;
  height: 50px;
  width: 198px;
}

.descargar-1 {
  letter-spacing: 0;
  line-height: 27px;
  margin-bottom: -13.5px;
  margin-top: 11.5px;
  text-align: center;
  white-space: nowrap;
  width: 198px;
}

.whatsapp-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-top: -4.51px;
  min-height: 37px;
  min-width: 125px;
  white-space: nowrap;
}

.linkedin-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-top: -5.51px;
  min-height: 37px;
  min-width: 125px;
  white-space: nowrap;
}

.instagram-1 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 46.0px;
  margin-top: -5.51px;
  min-height: 37px;
  white-space: nowrap;
}

.overlap-group1-3 {
  height: 114px;
  margin-top: -21.89px;
  position: relative;
  width: 351px;
}

.hazlo-ya-1 {
  height: 87px;
  left: 47px;
  letter-spacing: 0;
  line-height: 101.9px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 258px;
}

.grupo-100-1 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 25.53px;
}

.grupo-545-1 {
  background-color: var(--black);
  display: flex;
  height: 95px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 768px;
  z-index: 2;
}

.rectngulo-315-2 {
  background-color: var(--gray-nurse);
  border-radius: 0px 0px 25px 25px;
  height: 69px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(180deg);
  width: 203px;
}

.recuadro-nombre-2 {
  display: flex;
  height: 18px;
  left: 52px;
  position: absolute;
  top: 0;
  width: 98px;
}

.rectngulo-115-2 {
  background-color: var(--nobel);
  border-radius: 8px;
  flex: 1;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  transform: rotate(180deg);
  width: 97.66px;
}

.formulario-2 {
  align-items: flex-start;
  background-image: url(../img/trazado-293-11@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 32px;
  justify-content: flex-end;
  left: 17px;
  min-width: 180px;
  padding: 0.0px 40.2px;
  position: absolute;
  top: 32px;
}

.grupo-576-2 {
  display: flex;
  height: 24px;
  width: 96px;
}

.descargar-2 {
  letter-spacing: 0;
  line-height: 13.0px;
  margin-bottom: -7.5px;
  margin-top: 5.5px;
  text-align: center;
  white-space: nowrap;
  width: 96px;
}

.whatsapp-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 29px;
  margin-top: -5.5px;
  min-height: 18px;
  min-width: 55px;
  white-space: nowrap;
}

.linkedin-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 29px;
  margin-left: 11px;
  margin-top: -6.5px;
  min-height: 18px;
  min-width: 55px;
  white-space: nowrap;
}

.instagram-2 {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 29px;
  margin-left: 11px;
  margin-top: -6.5px;
  min-height: 18px;
  white-space: nowrap;
}

.grupo-550 {
  background-color: var(--black);
  display: flex;
  height: 50px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 360px;
  z-index: 2;
}

.trazado-201 {
  height: 15px;
  margin-bottom: 0;
  object-fit: cover;
  width: 15px;
}

.trazado-202 {
  height: 15px;
  margin-bottom: 0;
  object-fit: cover;
  width: 13px;
}

.trazado-203 {
  height: 15px;
  margin-bottom: 0;
  object-fit: cover;
  width: 11px;
}

.trazado-204 {
  height: 15px;
  margin-bottom: 0;
  margin-left: 1px;
  object-fit: cover;
  width: 12px;
}

.trazado-205 {
  height: 15px;
  margin-bottom: 0;
  object-fit: cover;
  width: 10px;
}

.trazado-206 {
  height: 15px;
  margin-left: 1px;
  object-fit: cover;
  width: 10px;
}

.trazado-20 {
  height: 16px;
  margin-left: 1px;
  object-fit: cover;
  width: 11px;
}

.men-desplegable {
  display: flex;
  height: 9.19px;
  margin-right: 29.9px;
  margin-top: -4.6px;
  width: 19.64px;
}

.grupo-380 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 3px;
  min-height: 9.19px;
  width: 19.64px;
}

.rectngulo-110 {
  background-color: var(--science-blue);
  border-radius: 9.76px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 75px;
}

.hazlo-ya-2 {
  height: 20px;
  left: 9px;
  letter-spacing: 0;
  line-height: 21.7px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  width: 57px;
}

.contctanos-2 {
  height: 20px;
  letter-spacing: 0;
  line-height: 21.7px;
  margin-top: -6.89px;
  text-align: center;
  white-space: nowrap;
  width: 67px;
}

.grupo-22 {
  align-items: flex-end;
  display: flex;
  flex: 1;
  min-width: 9.2px;
  padding: 0.1px 0;
}

.grupo-20 {
  background-image: url(../img/trazado-18-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 6px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 9px;
}

.grupo-21 {
  background-image: url(../img/trazado-18-1@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.grupo-375 {
  cursor: pointer;
  display: flex;
  flex: 1;
  width: 98.77px;
}

.grupo-374 {
  display: flex;
  flex: 1;
  width: 98.77px;
}