:root { 
  --black: #000000;
  --gray: #7f7f7f;
  --gray-nurse: #e8e8e8;
  --guardsman-red: #d50300;
  --guardsman-red-2: #d60300;
  --monza: #d5101e;
  --nobel: #b3b3b3;
  --quick-silver: #a0a2a5;
  --science-blue: #0463dd;
  --sonic-silver: #777777;
  --white: #ffffff;
 
  --font-size-l: 36px;
  --font-size-m: 33.2px;
  --font-size-s: 30px;
  --font-size-xs: 28px;
  --font-size-xxs: 25px;
  --font-size-xxxs: 11.1px;
  --font-size-xxxxs: 9.5px;
 
  --font-family-cindie_mono_a: "Cindie Mono A", Helvetica;
  --font-family-cindiemono-a: "CindieMono-A", Helvetica;
  --font-family-cindiemono_a-regular: "CindieMono A-Regular", Helvetica;
  --font-family-filmotypegem: "FilmotypeGem", Helvetica;
  --font-family-filmotypegem-regular: "FilmotypeGem-Regular", Helvetica;
  --font-family-sfpro_rounded-regular: "SFPro Rounded-Regular", Helvetica;
  --font-family-sfprorounded-regular: "SFProRounded-Regular", Helvetica;
}
.sfprorounded-regular-normal-white-33-2px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-black-27-2px {
  color: var(--black);
  font-family: var(--font-family-cindiemono-a);
  font-size: 27.2px;
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-white-22px {
  color: var(--white);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-white-9-6px {
  color: var(--white);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: 9.6px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-67-8px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 67.8px;
  font-style: normal;
}

.cindiemono-a-normal-white-18px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-18-6px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 18.6px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-9-5px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-80px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 80px;
  font-style: normal;
}

.sfprorounded-regular-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-17-4px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 17.4px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-55-6px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 55.6px;
  font-style: normal;
}

.filmotypegem-normal-white-76-3px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 76.3px;
  font-style: normal;
}

.cindiemono-a-normal-white-32-1px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 32.1px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-21-6px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: 21.6px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-28px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-70px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 70px;
  font-style: normal;
}

.cindiemono-a-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-black-26-2px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 26.2px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-11-1px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-29-5px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 29.5px;
  font-style: normal;
}

.cindiemono-a-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-cindiemono-a);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-38px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 38px;
  font-style: normal;
}

.cindiemono-a-normal-black-14-4px {
  color: var(--black);
  font-family: var(--font-family-cindiemono-a);
  font-size: 14.4px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-35-7px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 35.7px;
  font-style: normal;
}

.cindiemono-a-normal-black-14-5px {
  color: var(--black);
  font-family: var(--font-family-cindiemono-a);
  font-size: 14.5px;
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-sonic-silver-20px {
  color: var(--sonic-silver);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-17px {
  color: var(--white);
  font-family: var(--font-family-sfpro_rounded-regular);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-sonic-silver-11px {
  color: var(--sonic-silver);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-10px {
  color: var(--white);
  font-family: var(--font-family-sfpro_rounded-regular);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

.cindiemonoa-regular-normal-sonic-silver-6px {
  color: var(--sonic-silver);
  font-family: var(--font-family-cindiemono_a-regular);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-6px {
  color: var(--white);
  font-family: var(--font-family-sfpro_rounded-regular);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-30px-2 {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-50px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 50px;
  font-style: normal;
}

.cindiemono-a-normal-white-31px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-15px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-9-5px {
  color: var(--guardsman-red-2);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-6px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: 6px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-30px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-35px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-black-21-6px {
  color: var(--black);
  font-family: var(--font-family-cindiemono-a);
  font-size: 21.6px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-black-25-7px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 25.7px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-21-2px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: 21.2px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-black-25-5px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 25.5px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-21-1px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: 21.1px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-28-4px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 28.4px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-28px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-6-8px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 6.8px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-22-3px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 22.3px;
  font-style: normal;
}

.sfprorounded-regular-normal-black-7-3px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 7.3px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-black-8-8px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: 8.8px;
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-guardsman-red-7-3px {
  color: var(--guardsman-red);
  font-family: var(--font-family-cindiemono-a);
  font-size: 7.3px;
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-white-30px {
  color: var(--white);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-25px {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.sfprorounded-regular-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-sfprorounded-regular);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.cindiemono-a-normal-white-6-8px-2 {
  color: var(--white);
  font-family: var(--font-family-cindiemono-a);
  font-size: 6.8px;
  font-style: normal;
  font-weight: 400;
}

.filmotypegem-normal-white-31-2px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 31.2px;
  font-style: normal;
}

.filmotypegem-normal-white-42-7px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 42.7px;
  font-style: normal;
}

.filmotypegem-normal-white-29-3px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 29.3px;
  font-style: normal;
}

.filmotypegem-normal-white-40-1px {
  color: var(--white);
  font-family: var(--font-family-filmotypegem);
  font-size: 40.1px;
  font-style: normal;
}
